.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
}

.header__icon {
  margin-right: 10px;
  padding: 9%;
}

.header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.header__mic {
  margin-left: -10%;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  padding: 6px;
  background-color: #f1f1f1e1;
}

.header__icons {
  display: flex;
  align-items: center;
  margin-right: 4%;
}

.header__input input {
  flex: 1;
  border: none;
  padding: 2%;
}
